@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(msg: String, form1: Form[HomeController.SampleForm])

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Sample Page") {

    @*
     * Get an `Html` object by calling the built-in Play welcome
     * template and passing a `String` message.
     *@
    <H1>Hello!!</H1>
    <p>@msg</p>
    @helper.form(action = routes.HomeController.send){
    	@(helper.inputText(
    		field = form1("message")
    	))
    	<input type="submit">
    }


}
